<div class="container mt-4">
  <header class="bg-dark text-white p-2 mb-2 text-center">
    <h1>Rgister</h1>
  </header>

  <form>
    <div class="form-group">
      <label for="Email">Email</label>
      <input
        type="text"
        name="Email"
        id=""
        class="form-control"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-group">
      <label for="Password">Password</label>
      <input
        type="text"
        name="Password"
        id=""
        class="form-control"
        placeholder="Enter Password"
      />
    </div>
  </form>
</div>
